-r common/requirements.in
jinja2
Flask-SQLAlchemy
sqlalchemy<2.0.0
Flask-RESTful
oauthlib
Flask-Cors
Flask-Migrate<4.0.0
mysql-connector-python
google-cloud-bigquery
appengine-python-standard
croniter==1.4.1

# Pins a loose requirement from "google-api-core".
google-api-core[grpc]
googleapis-common-protos[grpc]
